name: Build and Release

on:
  push:
    branches:
      - master
  # pull_request:
  #   branches:
  #     - master

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Set up .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'

    - name: Set up MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Build project
      run: |
        msbuild src-installer/RDPWInst.dproj
        msbuild src-rdpcheck/RDPCheck.dproj
        msbuild src-rdpconfig/RDPConf.dproj
        msbuild src-x86-binarymaster/rdpwrap.dproj
        msbuild src-x86-x64-Fusix/RDPWrap.vcxproj

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: build-artifacts
        path: bin/
